.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
}

.board_size {
    width: 130px;
    height: 20px;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    justify-self: center;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
}

p {
    font-size: 32px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 2px solid yellow;
}